@font-face {
  font-family: "SFRegular";
  src: url("src/fonts/SF-Pro-Display-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "SFMedium";
  src: url("src/fonts/SF-Pro-Display-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "SFBold";
  src: url("src/fonts/SF-Pro-Display-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "SFSemiBold";
  src: url("src/fonts/SF-Pro-Display-Semibold.ttf") format("ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* dashboard */
/* Chrome, Edge, and Safari */
.dWidth::-webkit-scrollbar {
  scrollbar-width: thin;
  height: 8px;
}

.dTrack::-webkit-scrollbar-track {
  background: #626262;
  border-radius: 5px;
}

.dThumb::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 14px;
}

/* balance */
/* Chrome, Edge, and Safari */
.bWidth::-webkit-scrollbar {
  width: 30px;
}

.bTrack::-webkit-scrollbar-track {
  background: transparent !important;
  border: solid 3px transparent;
}

.bThumb::-webkit-scrollbar-thumb {
  background-color: #d9d9d9 !important;
  border: 12px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

/* Hide custom scrollbars for mobile devices */
@media (max-width: 768px) {
  .bWidth::-webkit-scrollbar {
    display: none;
  }

  .bTrack::-webkit-scrollbar-track,
  .bThumb::-webkit-scrollbar-thumb {
    display: none;
  }
}
