@font-face {
  font-family: "SFRegular";
  src: url("src/fonts/SF-Pro-Display-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "SFMedium";
  src: url("src/fonts/SF-Pro-Display-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "SFBold";
  src: url("src/fonts/SF-Pro-Display-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "SFSemiBold";
  src: url("src/fonts/SF-Pro-Display-Semibold.ttf") format("ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  scrollbar-width: thin;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #626262;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 14px;
}
